[submodule "docker/course_docker/challenges/desafio-fc-1-go"]
	path = docker/course_docker/challenges/desafio-fc-1-go
	url = https://github.com/Daniel-Vinicius/desafio-fc-1-go
[submodule "docker/course_docker/challenges/desafio-fc-2-nodejs"]
	path = docker/course_docker/challenges/desafio-fc-2-nodejs
	url = https://github.com/Daniel-Vinicius/desafio-fc-2-nodejs.git
[submodule "comunication/fc2-grpc"]
	path = comunication/fc2-grpc
	url = https://github.com/Daniel-Vinicius/fc2-grpc.git
[submodule "comunication/fc2-graphql"]
	path = comunication/fc2-graphql
	url = https://github.com/Daniel-Vinicius/fc2-graphql.git
